<h2>List</h2>
<ul class="list-group">
  <li
    *ngFor="
      let character of characters;
      let i = index;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-light': isEven,
      'list-group-item-secondary': isOdd,
    }"
  >
    <div>
      {{ i + 1 }}. {{ character.name }} - Power:
      <strong>{{ character.power }}</strong>
    </div>
    <button class="btn btn-danger" (click)="emitDeleteCharacter(character)">
      X
    </button>
  </li>
</ul>
